extends ../shared/template

block content
  .container
    .row.clearfix
        .col-md-12.column
          nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              a.navbar-brand(href='/') Home
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/about') About
                li
                  a(href='/faq') FAQ
                li
                  a(href='/contact') Contact
                li.active
                  a(href='/resume') Resume
                li
                  a(href='/portfolio') Portfolio
              if(user)
                ul.nav.navbar-nav.navbar-right
                  if(user)
                    li
                      a(href='/logout')= user.email
                    li
                      a(href='/portfolio/new') New Project
              if(!user)
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/login') Login
  iframe(src='img/Seth_March Resume.pdf')
